asgiref==3.8.1
black==25.1.0
cfgv==3.4.0
click==8.1.8
distlib==0.3.9
Django>=4.2.0,<4.3.0
django-cors-headers>=4.3.0,<4.8.0
django-environ>=0.11.0,<0.12.0
django-filter>=23.5,<24.0
djangorestframework>=3.14.0,<3.17.0
exceptiongroup==1.2.2
filelock==3.18.0
flake8>=6.1.0,<6.2.0
identify==2.6.10
iniconfig==2.1.0
isort>=5.12.0,<5.13.0
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.5.0
pre_commit==4.2.0
psycopg2-binary>=2.9.9,<2.10.0
pycodestyle==2.13.0
pyflakes==3.3.2
pytest>=7.4.0,<7.5.0
pytest-django>=4.7.0,<4.8.0
PyYAML==6.0.2
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.13.2
virtualenv==20.31.2
gunicorn>=21.2.0,<21.3.0
whitenoise>=6.6.0,<6.7.0
pre-commit>=3.5.0,<3.6.0
drf-yasg>=1.21.7,<1.22.0
djangorestframework-simplejwt>=5.3.0,<5.4.0
dj-rest-auth>=5.0.1,<5.1.0
